* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}


/* HEADER  */

header nav { 
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: solid 0.005px rgba(255, 255, 255, 0.25);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    z-index: 1000;
} 

header nav a img {
    width: 210px;
    margin-left: 7.5%;
}

#logo {
    display: none;
}

#mobile {
    height: 50px;
    width: 50px;
}

.nav-links {
    display: flex;
    gap: 64px;
    margin-right: 7.5%;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
.login, .menu {
    gap: 16px;
    align-items: center;
    display: none;
}
    
.active {
    color: #7E7E7E;
}
    
.bar {
    width: 1px;
    background-color: white;
    height: 16px;
}
    
.large {
    height: 32px;
}
    
.menu-img {
    width: 30px;
}
    
    
 /* BANNER */

.portada,
.portada-mobile {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(72%);
}
    
.portada {
    display: none;
}

.banner-general {
    position: absolute;
    top: 100px;
    margin: 5%;
}


/* Banner input */

.banner-input {
    position: relative;   
    width: fit-content;
    /* float: right;  */
}

.banner-input input {
    background-color: transparent;
    height: 100%;
    width: 210px;
    border: solid 1px white;
    border-radius: 30px;
    color: white; 
    padding: 8px 24px;
}

.banner-input input::placeholder {
    color: #FFFFFF;
}

.banner-input img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-24px, -50%);
    cursor: pointer;
    width: 15px;
}


/* Banner contenido */

.banner-contenido {
display: grid;
margin-top: 70%;
}

.banner-contenido h3 {
    font-size: 42px;
    font-weight: 400;
    padding: 40px 0px;
    color: #fff;
    font-weight: 560;
}

.banner-contenido h3 span {
    font-weight: 500;
    font-size: 27px;
    font-weight: 510;
}

.banner-boton {
    position: relative;
    width: 180px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 15px 0px 15px 100px;
    /* align-self: baseline; */
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 450;
}

.banner-boton img {
    position: absolute;
    left: 40px;
    width: 25px;
}

.banner-boton:hover {
    cursor: pointer;
    background-color: rgb(45, 45, 45, 0.9);
}

.follow {
    position: fixed;
    display: flex;
    z-index: 500;
    left: 20px;
    top: 30%;
    display: none;
}

.follow img {
    width: 12px;
}


/* CONTENIDO GENERAL */

/* Textos generales */

.world {
    color: #DF991B;
    font-size: 25px;
}

h2 {
    font-weight: bolder;
    font-size: 36px;
}

.parrafos {
    font-size: 18px;
    margin-top: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Botones generales */

.btns {
    display: flex;
    gap: 30px;
    margin-top: 10%;
    justify-content: center;
    transition: 0.4s ease;
    }
    
.btns img {
    height: 20px;
}
    
.btn-prim {
    font-weight: 450;
    font-size: 15px;
    border: solid 1px black;
    border-radius: 100px;
    background-color: transparent;
    padding: 15px 60px;
}
    
.btn-prim:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: rgb(45, 45, 45);
}
    
.btn-sec {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}

.btn-sec {
    display: none;
}
    
.btn-sec:hover {
    cursor: pointer;
}
    
.prev {
    color:#B4B7B7;
}
    
.next {
    color: #DF991B;
}


/* CONTENIDO ESPECIFICO */

/* SALE RENT INTERIOR general */

.sale, 
.rent,
.interior, {
    display: grid;
    place-items: center;
}


/* SALE RENT INTERIOR textos */

.sale-textos,
.rent-textos,
.develop-textos,
.interior-textos {
    margin: 10% 5% 0 5%;
}


/* SALE RENT DEVELOPMENTS Texto imagenes */

.s-imgs p,
.r-imgs p,
.d-imgs p,
.di-imgs p {
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    color: #FFFFFF;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    margin: 0;
    transition: 0.4s ease;
}

.d-imgs p,
.di-imgs p {
    color: black;
    background-color: #FFFFFF;
}

.s-imgs p,
.r-imgs p {
    position: absolute;
}

.s-imgs p span,
.r-imgs p span, 
.d-imgs p span,
.di-imgs p span{
    font-size: 21px;
    font-weight: bold;
}

.s-imgs:hover, 
.r-imgs:hover,
.d-imgs:hover,
.di-imgs:hover {
    cursor: pointer;
}

.s-imgs:hover p,
.r-imgs:hover p {
    background-color: #FFFFFF;
    color: black;
}


/* SALE RENT imagenes */

.sale-imgs,
.rent-imgs {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: hidden;
    gap: 10px;
    margin-top: 10%;
}
 
.s-imgs,
.r-imgs {
    position: relative;
    overflow: hidden;
  }

.s3,
.r1 {
    grid-column: span 7;
}

.s2,
.r2 {
    grid-column: span 5;
} 

.inactive {
    display: none;
}


/* INTERIOR imagenes */

.interior-img {
    margin: 5% ;
}

.interior-img img{
    width: 100%;
}

.s-imgs img,
.r-imgs img,
.di-imgs img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


/* DEVELOPMENTS general */

.develop-textos {
    justify-content: center;
    text-align: center;
}

.develop-imgs {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    position: relative;
    gap: 20px;
    padding-top: 45px;
}

.d-imgs {
    background-color: #df9a1b75;
     height: 300px;
     width: 1fr;
     /* object-fit: cover; */
     position: relative;
     transition: 0.4s ease;
 }

 .d-imgs img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.d-imgs:hover {
    border: solid 0.2px rgb(120, 120, 120);
    transform: translateY(-20px);
}

.d-imgs {
    display: none;
}

.di-imgs {
   background-color: #df9a1b75;
   
    width: 100%;
    /* object-fit: cover; */
    position: relative;
    transition: 0.4s ease;
}


/* INTERIOR */

.logo-superior {
    overflow: hidden;
}
.logo-superior img {
    height: 72px;
    margin-bottom: 5%;
}

.interior-img {
    padding-top: 45px;
}


/* FOOTER */

footer {
    display: grid;
    justify-items: center;
    position: relative;
    margin-top: 50%;
    background-color: black;
    /* height: 600px; */
    position: relative;
}


/* News */

.news {
    display: grid;
    background-color: #26282B;
    width: 90%;
    height: 270px;
    position: absolute;
    transform: translate(0,-50%);
    padding-bottom: 30px; 
}

.footer-title {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-self: start;
    margin: 6%;
}

.footer-title span {
    color: #DF991B;
    font-size: 18px;
   align-self: center;
}

.footer-title p {
    color: #FFFFFF;
    font-weight: 525;
    font-size: 30px;
    align-self: center;
}

.footer-form {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    margin: 0 5%;
}

.footer-form span {
   color: #FFFFFF;
   font-weight: 450;
   font-size: 15px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-left: 5%; 
   align-self: center;
}

.footer-form input {
    background-color: transparent;
    border: solid 1px #7E7E7E;
    border-radius: 100px;
    padding: 10px 10px;
    align-self: center;
    justify-self: center;
    color: #fff;
    width: 80%;
}

.footer-form button {
    background-color: transparent;
    border: solid 1px #DF991B;
    border-radius: 100px;
    padding: 15px 30px;
    width: fit-content;
    height: 45px;
    color: #DF991B;
    font-size: 15px;
    font-weight: 450;
    justify-self: center;
    cursor: pointer;
    transition: 0.4s ease;
    align-self: center;
} 

.footer-form button:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #DF991B;
}


/* Info */

.info {
    color: white;
    margin-top: 210px;
    width: 90%;
    cursor: pointer;
    /* position: absolute; */
    justify-content: center;
}

.footer-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax (250px, 350px));
    grid-template-areas: 
    "become become"
    "reg1 reg2"
    "contact contact";
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 200%;
    text-align: center;
}

.become {
    grid-area: become;
}

.regular {
    margin-top: 15%;
}

.reg1 {
    grid-area: reg1;
}

.reg2 {
    grid-area: reg2;
}

.contact {
    grid-area: contact;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax (250px, 350px));
    grid-template-areas: 
    "call telf"
    "mail mail";
    margin-top: 12%;
}

.call {
    grid-area: call;
}

.telf {
    grid-area: telf;
}

.mail {
    grid-area: mail;
}

.become img {
    width: 240px;
}

.call,
.telf {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.footer-bar {
    background-color: #FFFFFF;
    height: 1px;
    align-self: center;
    margin: 5% 0 ;
}

.copyright {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-bottom: 5%; 
}




/* RESPONSIVE */


@media screen and (min-width: 460px) {

    /* Botones generales */

    .btns {
        justify-content: space-between;
    }
    .btn-sec {
        display: flex;
    }


    /* SALE RENT */

    .s-imgs,
    .r-imgs {
        grid-column: span 6;
    }


    /* FOOTER */

    footer {
        margin-top: 250px;
    }
  
}



@media screen and (min-width: 500px) {

    /* HEADER */

    #mobile {
        display: none;
    }

    #logo {
        display: block;
    }


    /* BANNER */

    .banner-general {
        top: 70px;
    }


    /* SALE RENT */

    .s-imgs,
    .r-imgs {
        grid-column: span 4;      
    }

    .inactive {
        display: block;
    }


    /* DEVELOPMENTS */

    .btn-develop {
        display: none;
    }

    .develop-imgs {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5%;
    }

    .di-imgs {
        display: none;
    }

    .d-imgs {
        display: block;
    }

    .d8, .d7 {
        display: none;
    }


    /* FOOTER */

    footer {
        margin-top: 40%;
    }
}



@media screen and (min-width: 600px) {
    
    /* FOOTER */

    /* News */

    .news {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        height: auto;
        margin: 3%;  
    }

    .footer-title {
        margin: 12%;
    }  
  
    .footer-title span {
        font-size: 24px;
    }
    
    .footer-title p {
        font-size: 36px;
    }

    .footer-form {
        margin: 12% 12% 0 0;
        float: right;
    }

    .footer-text {
        grid-template-columns: 46% 27% 27%;
        grid-template-areas: 
        "become reg1 reg2"
        "contact contact contact";
    }

    .regular {
        margin: 0;
    }

    .contact {
       display: flex;
       justify-content: space-between;
       margin-top: 6%;
    }

    .become{
        text-align: left;
    }

    .become img {
        width: 200px;
    }   

    .footer-bar {
        margin: 2.5% 0 ;
    }
    
    .copyright {
        margin-bottom: 2.5%; 
    }

}



@media screen and (min-width: 700px) {

    /* CONTENIDO ESPECIFICO */
    
    .sale, 
    .rent,
    .interior {
        display: grid;
        gap: 10px;
        place-items: center;
        margin-top: 5%;
    }   
    
    .sale {
        grid-template-columns: 1.5fr 2fr;
    }

    .rent {
        grid-template-columns: 2fr 1.5fr;
    }
    
    
    .sale-imgs {
        order: 1;
    }

    .sale-textos {
        order: 2;
        /* padding:0 5% 0 5%; */
    }

    .s3,
    .r1 {
        grid-column: span 9;
    }
    
    .s2,
    .r2 {
        grid-column: span 3;
    } 
    

    .inactive {
        display: none;
    }
    

   /* DEVELOPMENTS */

   .develop-imgs {
        grid-template-columns: repeat(3, 1fr);
    }


    /* INTERIOR */

   .interior-img {
        display: none;
    }


    /* FOOTER */

    footer {
        margin-top: 30%;
    }

}
    


@media screen and (min-width: 780px) {

    /* CONTENIDO ESPECIFICO */

    .sale,
    .rent {
        grid-template-columns: 1fr 1fr;
    }

    .s-imgs,
    .r-imgs {
        grid-column: span 6;
    }

    
    /* FOOTER */
    
      footer {
        margin-top: 25%;
    }
    
    .footer-text {
    
        grid-template-columns: 32% 18% 18% 32%;  
        grid-template-areas: 
        "become reg1 reg2 contact";
    }
    
    .contact {
        display: grid;
        grid-template-columns: 1fr;
        text-align: right;
        grid-template-areas: 
        "call"
        "telf"
        "mail";
        margin-top: 0;
    }

}



@media screen and (min-width: 900px) {

      /* CONTENIDO ESPECIFICO */
    
      .sale, 
      .rent,
      .develop,
      .interior {
          margin-top: 2.5%;
      }  


     /* INTERIOR */

   .interior-img {
        display: block;
    }

    .interior {
        grid-template-columns: 1.5fr 2fr;
    }
    
    .interior-img {
        order: 1;
    }
    
    .interior-textos {
        order: 2;
    }
    
    .interior-img img {
       height: 400px;
    }


     /* FOOTER */
    
    footer {
        margin-top: 20%;
    }

}



@media screen and (min-width: 1000px) {
   
    /* HEADER */

    .nav-links {
        margin-right: 3.75%;
    }

    .login, .menu {
        display: flex;
    }


    /* BANNER */

    .portada-mobile {
        display: none;
    }

    .portada {
        display: block;
    }

    .banner-contenido {
        display: grid;
        margin-top: 60%;
        }

    .banner-contenido h3 {
        font-size: 54px;
    }

    .banner-contenido h3 span {
        font-size: 33px;
    }

    .follow {
        display: block;
    }


    /* CONTENIDO ESPECIFICO */

    /* SALE RENT INTERIOR general */

    .s-imgs,
    .r-imgs {
        grid-column: span 5;
    }

    .inactive {
        display: block;
        grid-column: span 2;
    }


    /* DEVELOPMENTS */

    .develop-imgs {
        grid-template-columns: repeat(4, 1fr);
    }

    .d8, .d7 {
        display: block;
    }

   
     /* INTERIOR */

    .interior {
        grid-template-columns: 1fr 1fr;
    }
        
    .interior-img img {
       height: 450px;
    }


    /* FOOTER */

    .footer-title {
        margin: 6%;
    }

    .footer-title span {
        font-size: 27px;
    }
    
    .footer-title p {
        font-size: 48px;
    }

    .info {
        margin-top: 270px;
    }

    .footer-text {
        font-size: 21px ;
    }

    .call {
        font-size: 24px;
    }
    
    .telf {
        font-size: 32px;
    }

    .copyright {
        font-size: 14px;
    }
}



@media screen and (min-width: 1100px) {

    /* INTERIOR */

    .interior-img img {
        height:  500px;
     }

}



@media screen and (min-width: 1200px) {

    /* BANNER */

    .follow {
        left: 20px;
    }
    
    .follow img {
        width: 15px;
    }


    /* CONTENIDO GENERAL */

    /* Textos generales */

    .world {
        font-size: 27px;
    }

    h2 {
       font-size: 54px;
    }


    /* INTERIOR */

    .interior-img img {
       height:  550px;
    }


    /* FOOTER */

    footer {
        margin-top: 10%;
    }

    .info {
        margin-top: 330px;
    }

}



@media screen and (min-width: 1300px) {

    /* INTERIOR */

    .interior-img img {
        height:  800px;
     }
}