* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    /* font-family: 'Playfair Display', serif; */
}


/* HEADER  */

header nav { 
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: solid 0.005px rgba(255, 255, 255, 0.9);
    border-bottom: solid 1px white;
    align-items: center;
    color: white;
    background-color: #0009;
    padding: 12px;
    z-index: 1000;
} 

header nav a img {
    width: 210px;
    margin-left: 67px;
}

#mobile {
    height: 50px;
    width: 50px;
    display: none;
}

.nav-links {
display: flex;
gap: 64px;
margin-right: 30px;
cursor: pointer;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login, .menu {
    display: flex;
    gap: 16px;
    align-items: center;
}

.active {
    color: #7E7E7E;
}

.bar {
    width: 1px;
    background-color: white;
    height: 16px;
}

.large {
    height: 32px;
}

.menu img {
    width: 30px;
}


/* BANNER */

#banner {
    padding: 0 77px;
    height: 100vh;
    width: 100%;
    background-image: url(Imagenes\ proyecto\ landingpage/portada.png);
    background-size: cover;
    background-position: center;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Para tener la imagen con opacidad */

/* Banner input */

.banner-input {
    position: relative;   
    width: fit-content;
    float: right;
    margin-top: 90px;
}

.banner-input input {
    background-color: transparent;
    height: 100%;
    width: 300px;
    border: solid 1px white;
    border-radius: 30px;
    color: white; 
    padding: 8px 24px;
}

.banner-input input::placeholder {
    color: #FFFFFF;
}

.banner-input img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-24px, -50%);
    cursor: pointer;
    width: 15px;
}

/* Banner contenido */

.banner-contenido {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 360px;
}

.banner-contenido h3 {
    font-size: 56px;
    font-weight: 400;
    padding: 40px 0px;
    color: #fff;
    font-weight: 560;
}

.banner-contenido h3 span {
    font-weight: 500;
    font-size: 36px;
    font-weight: 510;
}

.banner-boton {
    position: relative;
    width: 270px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 15px 0px 15px 100px;
    align-self: baseline;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 450;
}

.banner-boton img {
    position: absolute;
    left: 40px;
    width: 25px;
}

.banner-boton:hover {
    cursor: pointer;
    background-color: rgb(45, 45, 45, 0.9);
}

.follow {
    position: fixed;
    display: flex;
    z-index: 500;
    left: 27px;
    top: 30%;

}

.follow img {
    width: 15px;
}

/* CONTENIDO GENERAL */

/* Textos generales */

.world {
    color: #DF991B;
    font-size: 27px;
}

h2 {
    font-weight: bolder;
    font-size: 54px;
}

.parrafos {
    font-size: 18px;
    margin-top: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Botones generales */

.btns {
display: flex;
gap: 30px;
margin-top: 10%;
justify-content: space-between;
transition: 0.4s ease;
}

.btns img {
    height: 20px;
}

.btn-prim {
    font-weight: 450;
    font-size: 15px;
    border: solid 1px black;
    border-radius: 100px;
    background-color: transparent;
    padding: 15px 60px;
}

.btn-prim:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: rgb(45, 45, 45);
}

.btn-sec {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}

.btn-sec:hover {
    cursor: pointer;
}

.prev {
    color:#B4B7B7;
}

.next {
    color: #DF991B;
}


/* CONTENIDO ESPECIFICO */

/* SALE RENT INTERIOR general */

.sale, 
.rent,
.interior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
    margin-top: 100px;
}

/* SALE RENT INTERIOR textos */

.sale-textos {
    padding:0 77px 0 100px;
    /* text-align: right; */
}

.rent-textos {
    padding: 0 100px 0 77px;
}

.interior-textos {
    padding: 0 77px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interior-btn {
    margin-top: 35%;
}

/* SALE RENT imagenes */

.sale-imgs,
.rent-imgs {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: hidden;
    gap: 10px;
}
 
.s-imgs,
.r-imgs {
    grid-column: span 5;
    overflow: hidden;
    position: relative;
}

.s-imgs img,
.r-imgs img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.inactive {
    grid-column: span 2;
}


/* INTERIOR imagenes */

.interior-img img {
    padding: 77px;
    height: 1000px;
}

.logo-superior {
    width: 30px;
    margin-bottom: 100px;
}

.logo-superior img {
    height: 100px;
}


/* SALE RENT DEVELOPMENTS Texto imagenes */

.s-imgs p,
.r-imgs p,
.d-imgs p {
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    color: #FFFFFF;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    margin: 0;
    transition: 0.4s ease;
}

.d-imgs p {
    color: black;
    background-color: #FFFFFF;
}

.s-imgs p span,
.r-imgs p span, 
.d-imgs p span{
font-size: 20px;
font-weight: lighter;
}

.s-imgs:hover, 
.r-imgs:hover,
.d-imgs:hover {
    cursor: pointer;
}

.s-imgs:hover p,
.r-imgs:hover p {
    background-color: #FFFFFF;
    color: black;
}


/* DEVELOPMENTS general */

.develop-textos {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.develop-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    position: relative;
    margin: 0 77px;
    gap: 20px;
    padding-top: 60px;
}

.d-imgs {
   background-color: #df9a1b75;
    height: 300px;
    width: 1fr;
    /* object-fit: cover; */
    position: relative;
    transition: 0.4s ease;
}

.d-imgs img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.d-imgs:hover {
    border: solid 0.2px rgb(120, 120, 120);
    transform: translateY(-20px);
    /* animation: SlideTopAnimation 0.6s ease 0s 1 normal forwards; */
}

/* @keyframes SlideTopAnimation {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-20px);
	}
} */



/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 150px;
    background-color: black;
    height: 540px;
}

/* News */

.news {
    background-color: #26282B;
    width: 90%;
    height: 270px;
    position: absolute;
    transform: translate(0,-50%); 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3% 100px;
    gap: 30px;   
}

.footer-title {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-self: start;
}

.footer-title span {
    color: #DF991B;
    font-size: 27px;
   align-self: center;
}

.footer-title p {
    color: #FFFFFF;
    font-weight: 525;
    font-size: 48px;
    align-self: center;
}

.footer-form {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;

}

.footer-form span {
   color: #FFFFFF;
   font-weight: 450;
   font-size: 15px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-left: 5%; 
   align-self: center;
}

.footer-form input {
    background-color: transparent;
    border: solid 1px #7E7E7E;
    border-radius: 100px;
    padding: 10px 30px;
    width: 100%;
    align-self: center;
    color: #fff;
}

.footer-form button {
    background-color: transparent;
    border: solid 1px #DF991B;
    border-radius: 100px;
    padding: 15px 100px;
    width: fit-content;
    height: 45px;
    color: #DF991B;
    font-size: 15px;
    font-weight: 450;
    justify-self: end;
    cursor: pointer;
    transition: 0.4s ease;
    align-self: center;
} 

.footer-form button:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #DF991B;
}


/* Info */

.info {
    display: grid;
    grid-template-rows: 9fr 3fr 4fr;
    color: white;
    margin-top: 270px;
    /* background-color: rgb(37, 40, 43); */
    width: 90%;
    cursor: pointer;
}

.footer-text {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    color: #fff;
    font-size: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 200%;
}

.become img {
    width: 210px;
}

.regular {
    text-align: center;
}

.contact {
    text-align: right;
  }

.call,
.telf {
    font-family: 'Playfair Display', serif;
}

.call {
    font-size: 24px;
    font-weight: 525;
}

.telf {
    font-size: 32px;
    font-weight: 500; 
}

.footer-bar {
    background-color: #FFFFFF;
    height: 1px;
    align-self: center;
}

.copyright {
    text-align: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px; 
}


    /* RESPONSIVE */

    @media screen and (max-width: 1350px) {
       
        .interior-img img {
        height: 800px;
       }

       .logo-superior {
        margin-bottom: 10%;
       }

       .logo-superior img {
        height: 80px;
        overflow: hidden;
        display: none;
       }

       .interior-btn {
        margin-top: 20%;
       }

    }

    @media screen and (max-width: 1200px) {
        
        .interior {
            grid-template-columns: 1fr;
            margin-top: 50px;
           
        }
         
        .interior-textos {
            justify-content: center;
            text-align: center;
            margin: 0;
            
        }

        .interior-btn {
            margin: 0;
            margin-top: 10%;
        }
    
        .interior-img {
            order: 2;
        }

        .interior-img img {
            height: 1000px;
        
        }

        .interior-textos div p {
            display: none;
        }

        .logo-superior img {
            display: none;
        }

        .news {
            height: 320px;
            width: 80%;
            padding: 5%;
            gap: 20px;
        }

        .info {
            width: 80%;   
        }
    }
    



@media screen and (max-width: 1200px) {

    .interior-img img {
        height: 900px;
       }

    .become img {
        width: 180px;
    }

    .become p,
    .regular p, 
    .mail {
        font-size: 17px;
    }
     
    .call {
        font-size: 20px;
    }

    .telf {
        font-size: 28px;
    }
}

@media screen and (max-width: 1000px) {
    #banner {
       position: relative; 
       display: grid;
       grid-template-columns: 1fr;
    }

    .banner-input,
    .banner-contenido {
        display: grid;
        grid-column: 1fr;
        position: absolute;
        align-items: center;
        margin-top: 120px;
        margin-left: 30%;
        padding-top: 120px;
    }

    .banner-input input {
        width: 400px;
        align-items: center;
    }

    .banner-input img {
        display: none;
    }

    .banner-boton {
        width: 400px;
    }

    .banner-contenido h3 {
        font-size: 120px;
    }

    .banner-contenido h3 span {
        font-size: 60px;
    }
    
    .follow {
        display: none;
    }

    .footer-title p {
        font-size: 42px;
    }
    
    .info {
        margin-top: 210px;
    }

    .footer-text {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact {
        display: flex;
        grid-column: 1/4;
        justify-content: space-between;
        margin-top: 50px;
        /* margin-bottom: 50px; */
        text-align: center;
    }

    .call {
        order: 2;
    }

    .telf {
        order: 1;
    }

    .mail {
        order: 3;
    }

    .sale {
        grid-template-columns: 1fr;
    }
    
    .sale-textos {
        order: 1;
    }

    .sale-imgs {
        order: 2;
        margin-top: 100px;
    }

    .rent {
        grid-template-columns: 1fr; 
    }

    .rent-imgs {
        margin-top: 100px;
    }

    .develop-imgs {
        grid-template-columns: repeat(2, 1fr);
    }

    .d-imgs {
        height: 300px;
        overflow-y: hidden;
    }

    .interior-img img {
        height: 50%;
       }

    .banner-input {
        justify-items: center;
        width: 1fr;
    }


}



@media screen and (max-width: 700px) {

    #logo {
        display: none;
    }

    #mobile {
        display: block;
    }

    .login {
        display: none;
    }

    .menu a, .menu div {
        display: none;
    }

    main img {
        object-position: center;
    }

   .news {
    height: 400px;
    grid-template-columns: 1fr;
    padding: 10%;
    gap: 0;
   }
   
    .footer-text {
        grid-template-columns: repeat(2, 1fr);
    }

    .become img {
        width: 120px;
    }

    /* .footer-text {
        display: grid;
        grid-template-columns: 30% 20% 20% 30%;
        color: #fff;
        font-size: 21px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 200%;
    } */
}

@media screen and (max-width: 700px) {
    /* .footer-title span {
        font-size: 15px;
    }

    .footer-title p {
        font-size: 27px;
    } */

    .footer-title {
        margin-bottom: 30px;
    }

    .footer-text {
        font-size: 10px ;
    }

    .info{
        margin-top: 250px;
    }
    
  

    .call {
        font-size: 12px;
    }

    .telf {
        font-size: 12px;
    }

    .interior-img img {
        height: 600px;
       }
}

/* @media screen and (max-width: 900px) {
    .footer-title span {
        font-size: 20px;
    }

    .footer-title p {
        font-size: 32px;
    }

    .footer-text {
        font-size: 14px ;
    }
    
    .become img {
        width: 140px;
    }

    .call {
        font-size: 16px;
    }

    .telf {
        font-size: 20px;
    }
} */

   

@media screen and (max-width: 575px) {

    /* .interior-img img {
        height: 400px;
       } */

    .develop-imgs {
        grid-template-columns: 1fr;
    }

    .banner-input {
        display: none;
    }

    .banner-boton {
        display: none;
    }
    
    

}
   



